
// @import url(https://fonts.googleapis.com/css?family=Lobster);
//
// @import url(https://fonts.googleapis.com/css?family=Open+Sans);



$cursive-font: 'Lobster', cursive;
$regular-font: 'Open Sans', sans-serif;

body{padding-top:0px;}


.hidden{
  visibility: hidden;
}

.navbar .nav > li > a{
  color:#fff;
  font-family: $regular-font;
}

.navbar .nav > li{
  color:#fff;
}

.topNav{

    margin:0px;
    padding-top:10px;
    padding-bottom:10px;
    border:none;
    background: rgba(0,0,0,0.5);
  }

  .smallLogo{
    font-family: $cursive-font;
    font-size:2.4em;

    p{
      color:#fff;
      margin-left:15px;
    }
}

.search{
 color:#fff;
 border-color: #fff;

}
.search:hover{
  background-color: #2abeb8;
}


.header{
  background-image: URL('https://images.unsplash.com/photo-1428535172630-fb1c050ac3e0?crop=entropy&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1450');
  background-position: center;
  height:500px;
  position: relative;



  .headerText{

    width:590px;
    display:block;
    margin:0 auto;
    padding-top:80px;
    text-align: center;

    .headerButtons{
      height:100px;
      width:55%;
      margin:0 auto;

      .btn1{
       color:#fff;
       border-color: #2abeb8;
       margin-top:15px;


      }

      .btn2{
        background-color: #2abeb8;
        color:#fff;
        margin-top:15px;

      }


    }



    h1{

      display:inline-block;
      text-align: center;
      color:#fff;
      font-family: $cursive-font;
      font-size: 5em;
      width:100%;
      display: block;
    }


    hr {
      display: block;
      height: 1px;
      border-top: 1px solid #2abeb8;
      width: 20%;
      margin: 0 auto;
      padding-bottom: 10px;
    }


    h3{
      width:100%;
      display:inline-block;
      text-align: center;
      font-family: $regular-font;
      color:#fff;
      font-size:1em;

    }



  }


} //close header


.body{
    padding-top:40px;
    padding-left: 110px;
    padding-right:110px;
    margin:0 auto;
    width:85%;
}

.subtext{
  text-align: center;
  padding-top: 20px;
  font-family: $regular-font;
  color: #A2A7B1;
  font-weight: bold;
  font-size: .95em;
}

.left{
  padding-left:65px;
  padding-right:65px;
  padding-bottom: 65px;
  h3{
    display:inline-block;
    text-align: center;
    width:100%;
    margin:0 auto;
    font-family: $regular-font;
    font-weight: bold;

  }
}


.middle{
  padding-left:65px;
  padding-right:65px;
  padding-bottom:95px;
  h3{
    display:inline-block;
    text-align: center;
    padding-top: 0px;
    width:100%;
    margin:0 auto;
    font-family: $regular-font;
    font-weight: bold;
  }
}

.right{
  padding-left:65px;
  padding-right:65px;
  padding-bottom:95px;
  h3{
    display:inline-block;
    text-align: center;
    padding-top: 0px;
    font-family: $regular-font;
    width:100%;
    margin: 0 auto;
    font-weight: bold;
  }

}

.circle{
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  height:175px;
  width:175px;

}


.circle1{
  background-image: URL("http://www.emorygriffith.com/wp-content/uploads/2016/01/hand.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.circle2{
  background-image: URL('http://www.emorygriffith.com/wp-content/uploads/2016/01/surfboard.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35%
}
.circle3{
  background-image: URL('http://www.emorygriffith.com/wp-content/uploads/2016/01/car.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%
}


//grey bar
.section{
  height:100%;
  background-color: #FAFAFA;
  padding-left:160px;
  padding-right:0px;

.wholearticle{
  padding-left:2%;
  padding-right:10%;
  clear:both;
}


  h1{
    //text-align: center;
    font-family: $regular-font;
    font-size: 3.4em;
    width:100%;
    margin-top:80px;
  }
  .byLine{
    display:inline-block;
    width:100%;
    height:70px;

    img{
      float:left;
      display: inline-block;
      height:65px;
      width:65px;
      border-radius: 100%;
    }
    .by{
      display:inline-block;
      font-family: $cursive-font;
      font-size: 18px;
      padding-top:16px;
      margin-left:15px;
    }
    .date{
      display:inline-block;
      font-family: $regular-font;
      font-size: 15px;
      padding-top:10px;
      margin-left:13px;
      text-decoration: underline;
      font-weight:200;
    }

  }
    .article{
      margin-top: 15px;
    }
    .callout{
      padding:20px;
      font-family: $regular-font;
      font-size: 25px;
      color:#2A7ABE;
    }

    .buttons{

          height:85px;


          .thebutton{
            margin-left:4px;

            display: inline-block;



          .btnLeft{
            width:45px;
            background-color: #2abeb8;
            height:40px;
            float:left;
            text-align: center;
            display: inline-block;
            p{
              color:#fff;
              padding-top: 13px;
            }
          }

          .btnRight{
            background-color: #387DBB;
            height: 40px;
            width: 155px;

              p{
                color:#fff;
                font-family: $regular-font;
                text-align: center;
                padding-top: 9px;

              }
            }
      }


    }


    .sidebar{
      height:720px;
      background-position: center;
      background-size:auto;
      margin-top: 0px;
      background-image: URL('https://pixabay.com/static/uploads/photo/2015/03/26/10/26/surfer-691331_960_720.jpg');
    }

}


.footer{
  width:100%;
  height:100%;
  background-color: #464646;
  padding:0px;
  margin:0px;

  .footerLinks{
    width:60%;
    height:150;
    margin:0 auto;
    text-align: center;
    padding-top: 25px;


    h4{
      text-align: center;
      font-family: $regular-font;
      &:hover{
        text-decoration: underline;
      }
    }


  }
  .logoFoot{
    text-align: center;
    padding-bottom: 25px;

  }


}









//media queries

@media (max-width: 1199px) {

  .section{
    height:100%;
    background-color: #D3D3D3;
    padding-left:75px;
    padding-right:75px;
  }

  .wholearticle h1{
    font-size:4em;
  }

}


@media (max-width: 809px) {

  .wholearticle h1{
      //text-align: center;
      font-family: $regular-font;
      font-size: 3em;
      width:100%;
      margin-top:80px;
    }


}


@media (max-width: 767px) {


    .header{
      .headerText{
        width:339px;
        display:block;
        margin:0 auto;
        padding-top:70px;

        h1{

          display:inline-block;
          text-align: center;
          color:#fff;
          font-family: $cursive-font;
          font-size: 4em;
          width:100%;
          display: block;
        }

        hr {
          display: block;
          height: 1px;
          border-top: 1px solid #2abeb8;
          width: 20%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 15px;
          padding-bottom: 10px;

        }

        h3{
          width:100%;
          display:inline-block;
          text-align: center;
          font-family: $regular-font;
          font-size:1em;

        }

      }
    } //close header

    .body{
        padding-top:40px;
        padding-left: 0px;
        padding-right:0px;
        padding-bottom:45px;
    }
    .sidebar{
      display: none;
    }

}


@media (max-width: 500px) {

    .btnRight{
      background-color: #387DBB;
      display: none;
    }



}
